details summary
{
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

details>*:not(summary)
{
	padding: 0 20px !important;
}

details[open]
{
	padding-bottom: 20px;
}

.prose li
{
	text-indent: -20px;
	padding-left: 2em;
}

.gradio-container .prose a,
.gradio-container .prose a:visited
{
	text-decoration: underline;
}

#unprompted_result
{
	font-size: 18px;
	padding: 10px;
	font-family: IBM Plex Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

#unprompted_result strong
{
	font-family: Source Sans Pro, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	display: block;
	margin-bottom: 10px;
	letter-spacing: 0.02em;
	font-size: 20px;
}

#promo
{
	display: block;
}

#promo .thumbnail
{
	float: left;
	width: 150px;
	margin-bottom: 10px;
}

#promo h1
{
	font-size: 20px;
	letter-spacing: 0.015em;
	margin-top: 10px;
}

#promo p
{
	margin: 1em 0;
}

#promo .gr-button
{
	transition: 0.1s;
	display: inline-block;
	padding: 0.25em 0.75em;
	font-weight: bold;
	color: var(--background-fill-primary);
	border-radius: 0.5em;
	text-align: center;
	vertical-align: middle;
	background-color: var(--body-text-color);
}

#promo .gr-button:hover
{
	background-color: var(--checkbox-background-color-selected);
	color: var(--body-text-color);
}

.gradio-group div .wizard-autoinclude
{
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 8px;
}

.wizard-autoinclude:before
{
	position: absolute;
	width: 100%;
	left: 0;
	border-top: 1px solid var(--border-color-primary);
	display: block;
	content: " ";
	top: -10px;
}

.wizard-autoinclude input[type="checkbox"]:checked+span
{
	color: var(--checkbox-background-color-selected);
	font-weight: 1000;
}

.unprompted-badge
{
	display: inline-block;
	padding: 0.25em 0.75em;
	font-size: 0.75em;
	font-weight: bold;
	color: white;
	border-radius: 0.5em;
	text-align: center;
	vertical-align: middle;
	margin-left: var(--size-2);
	background-color: var(--checkbox-background-color-selected);
}

.patreon-symbol
{
	letter-spacing: -7px;
	margin-right: 7px;
}

#file_list li
{
	padding-left: 0;
	word-wrap: break-word;
}

#file_list ul
{
	list-style-type: none;
	overflow-x: hidden;
}

#file_list button:before
{
	content: "\01F5CE";
	position: absolute;
	left: 0;
}

#file_list button
{
	display: block;
	text-align: left;
	width: 100%;
	padding-left: 15px;
	position: relative;
}