details summary
{
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

details>*:not(summary)
{
	padding: 0 20px !important;
}

details[open]
{
	padding-bottom: 20px;
}

.prose li
{
	text-indent: -20px;
	padding-left: 2em;
}

.gradio-container .prose a,
.gradio-container .prose a:visited
{
	text-decoration: underline;
}

#unprompted_result
{
	font-size: 18px;
	padding: 10px;
	font-family: IBM Plex Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

#unprompted_result strong
{
	font-family: Source Sans Pro, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
	display: block;
	margin-bottom: 10px;
	letter-spacing: 0.02em;
	font-size: 20px;
}

#promo
{
	display: block;
}

.wizard-autoinclude span
{
	font-weight: 1000;
}

.patreon-symbol
{
	letter-spacing: -7px;
	margin-right: 7px;
}

#file_list li
{
	padding-left: 0;
	word-wrap: break-word;
}

#file_list ul
{
	list-style-type: none;
	overflow-x: hidden;
}

#file_list button:before
{
	content: "\01F5CE";
	position: absolute;
	left: 0;
}

#file_list button
{
	display: block;
	text-align: left;
	width: 100%;
	padding-left: 15px;
	position: relative;
}